Babel==1.3
Jinja2==2.7.3
Mako==1.0.0
MarkupSafe==0.23
Pillow==2.5.1
PyYAML==3.11
Python-Chart==1.39
Werkzeug==0.9.6
argparse==1.2.1
decorator==3.4.0
docutils==0.12
et-xmlfile==1.0.0
feedparser==5.1.3
flake8==2.4.1
gdata==2.0.18
greenlet==0.4.2
jcconv==0.2.3
lxml==3.3.5
matplotlib==1.4.3
mccabe==0.3.1
mock==1.0.1
nose==1.3.7
numpy==1.9.2
openpyxl==1.8.4
passlib==1.6.2
pep8==1.5.7
progressbar==2.3
psutil==2.1.1
psycogreen==1.0
psycopg2==2.5.3
pyPdf==1.13
pydot==1.0.2
pyflakes==0.8.1
pyparsing==1.5.7
pyserial==2.7
python-dateutil==1.5
python-ldap==2.4.15
python-openid==2.2.5
python-stdnum==1.1
pytz==2014.4
pyusb==1.0.0b1
qrcode==5.0.1
reportlab==3.1.8
requests==2.6.0
simplejson==3.5.3
six==1.7.3
unittest2==0.5.1
vatnumber==1.2
vobject==0.6.6
workdays==1.4
xlwt==0.7.5
